@media print {
  .letter-page {
    height: 11in;
    width: 8.5in;
    border: 1px solid #000;
    padding: 0px;

    .header-title {
      margin: 0px;
      border: 1px solid #000;
      padding: 2px;
      width: 200px;
      // height: 96px;
      display: inline-block;
    }
  }
}
